


body {
    background: #478993;
    background: -webkit-linear-gradient(to right, #1c7684, #1d7f8e);
    background: linear-gradient(to right, #b2dbe1, #b5e0e6);
}
.centered {
    text-align: center !important;
    vertical-align: middle !important;
}

table {
    width: 90%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f6f6;

}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #cdcdcd;
}

th {
    background-color: #f9f9f9;
    font-weight: bold;
    color: #9d9999;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #363535;
}

tr:hover {
    background-color: #363535;
}

.table-container {
    position: relative;
}

.dataTables_filter {
    position: relative;
    top: 0;
    left: 0;
}

.dataTables_wrapper .dataTables_filter {
    margin-bottom: 10px;
}

.dataTables_wrapper .dataTables_filter label input[type="search"] {
    background-color: #fff;
   
}
