<!-- tabla.html -->

{% extends 'base_sancionario.html' %}

{% block content %}
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                {% for encabezado in informacion.0.keys %}
                    <th>{{ encabezado }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for fila in informacion %}
                <tr>
                    {% for valor in fila.values %}
                        <td>{{ valor }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
